.main
  .main__top
    .main__top__name
      = @group.name
      .main__top__name__member
        Member：
        - @group.users.each_with_index do |user, i|
          - unless i.zero?
            ,
          = user.name
    .main__top__box__edit
      = link_to edit_group_path(params[:group_id]),class: "main__edit" do
        Edit
  .main__content
    .main__content__name__box
      = render @messages
  .main__bottom
    .new_message
      .input-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'input-box__image' do
              = icon('fas', 'image', class: 'input-box__icon')
              = f.file_field :image, class: 'input-box__image__file'
          = f.submit 'Send', class: 'submit-btn'