.side
  .side__top
    .side__top__box
      = current_user.name
      %ul.side__top__box__edit
        = link_to edit_user_path(current_user), class: "side__btn" do
          = icon('fas', 'cog', class: 'icon')
        = link_to new_group_path, class: "side__btn" do
          = icon('fas', 'edit', class: 'icon')
  .side__list
    - current_user.groups.each do |group|
      .side__list__box
        = link_to group_messages_path(group), class: "side__list__box__group" do
          .side__list__name
            = group.name
          .side__list__message 
            = group.show_last_message